.body{
    max-width: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: #FFFFFF;

}
#body{
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
 margin: auto;
  align-self: center;
 
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 0.5px solid #979797;
    margin-left: -0.5% !important;
    margin-right: -0.5% !important;
    margin-bottom: -2% !important;
    padding: 20px 64px;
    /* width: 100%; */
}
#nav{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 4%;
    font-weight: bold;
    align-items: center;
}
#nav-nav{
    text-decoration: none;
    color: black;
}
#login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    background: #1D1DD8;
border-radius: 4px;
    
}

#border{
    margin-top: 4%;
    border: 1px solid #BBBBFF;
}


#first-h1 {
    background: #1D1DD8;
    border-radius: 17px;
}

#first-h1 > h1{
    
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    text-align: center;
    color: #FEFEFE;
    width: 70%;
    margin: auto;
    margin-bottom: 4%;
    margin-top: 4%;

}
#bold{

}
#first-h1 > p{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    width: 30%;
    border-bottom: 1px solid #161618;
    margin-bottom: 4%;
    margin-top: 4%;
}
#team{
    justify-content: center;
    text-align: center;
}
#team > h2{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    margin-bottom: 3%;
}
#team > p{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-bottom: 4%;
    margin-top: 4%;

}
#blue{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    color: #1D1DD8;
}
#img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
   gap: 4%;
   
    
}
#image{
    width: 30%;
    display: flex;
    margin-bottom: 5%;
}
#footer{
    background: #1D1DD8;
    width: 101.5%;
    position:relative;
    margin-left: -1% !important;
    margin-right: -2% !important;
    margin-bottom: -2% !important;
    justify-content: center;
    text-align: center;
    
}