@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
.body{
    max-width: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: #FFFFFF;
}
#body{
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  align-self: center;
 
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 0.5px solid #979797;
    margin-left: -0.5% !important;
    margin-right: -0.5% !important;
    margin-bottom: -2% !important;
    padding: 20px 64px;
    gap: 3%;
}
#nav{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 4%;
    font-weight: bold;
    align-items: center;
}
#nav-nav{
    text-decoration: none;
    color: black;
}
#login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    background: #1D1DD8;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}
#sign{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 15%;
    gap: 10px;
    border: 0.5px solid #4343DF;
    border-radius: 4px;
    text-decoration: none;
    color: #1D1DD8;
    font-weight: bold;
}

#border{
    margin-top: 4%;
    border: 0.5px solid #BBBBFF;
}
#first-h1 {
    background:  #1D1DD8 ;
    border-radius: 17px;
    
}
#bold{
    font-weight: bold;
}
#first-h1 > h1{
    
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    text-align: center;
    color: #FEFEFE;
    width: 90%;
    margin: auto;
    margin-bottom: 4%;
    margin-top: 4%;
    padding: 3%;

}
#para{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    width: 100%;
    margin-bottom: 4%;
    margin-top: 4%;
}
#team{
    justify-content: center;
    text-align: center;
}
#hala{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    margin-bottom: 3%;
}
#duh{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-bottom: 4%;
    margin-top: 4%;

}
#blue{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    color: #1D1DD8;
}
#img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
   gap: 4%;
   
    
}
#image{
    width: 30%;
    display: flex;
    margin-bottom: 5%;
}
#footer{
    background: #2c2cb9;
    width: 113.2%;
    position:relative;
    margin-left: -7% !important;
    margin-right: -5% !important;
    margin-bottom: -2% !important;
    padding: 4% 0%;
    justify-content: space-around;
    text-align: center;
    display: flex;
    flex-direction: row;
    
}